{% extends 'base.html' %}

{% block title %}
    <title>Про магазин</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Про магазин</h1>
        <p>На этом этапе описания постарайтесь донести до каждого пользователя причины, по которым он станет
            покупателем. Другими словами, расскажите о преимуществах своего интернет-магазина. Это могут быть какие-то
            отличия от других ресурсов, которые убедят клиентов в том, что с вами действительно выгодно сотрудничать.
        </p>
    </div>
{% endblock %}
